#timer {
    max-width: fit-content;
    margin: auto;
    --hl-0: #6585be;
    --hl-1: #4e70ad;
}

#counter {
    background-color: var(--bg-0);
    padding: var(--gap-xs) var(--gap-m);
}

#timer button {
    background-color: var(--hl-0);
    color: var(--bg-0);
    font-size: 1.25rem;
    border-radius: var(--gap-m);
    padding: 0;
    justify-content: center;
}

#timer button:hover {
    background-color: var(--hl-1);
}

#timer #reset {
    aspect-ratio: 1;
}

#timer #start {
    width: 100%;
}

#timer button use {
    fill: var(--bg-0);
}

#counter input {
    font-size: 2.25rem;
    border: none;
    line-height: 1em;
    /* color: var(--fg-3); */
    padding: 0;
    width: 2ch;
    background-color: var(--bg-0);
    border-block: 0.1em solid transparent;
}

#counter input:focus {
    outline: none;
    border-bottom: 0.1em solid var(--hl-0);
    border-radius: 0;
}

#counter-img {
    aspect-ratio: 1;
    height: 2.5em;
}

#counter .dimmed {
    opacity: 0.5;
}

#timer h3 {
    font-weight: 400;
}

#timer label {
    font-size: 1.25rem;
}

#timer #hrs, #timer #mins {
    align-items: baseline;
}