[submodule "cloudmachine"]
	path = lab/cloudmachine
	url = https://github.com/studioflora/cloudmachine
[submodule "tools/dot-matrix-font-editor"]
	path = tools/dot-matrix-font-editor
	url = https://github.com/studioflora/dot-matrix-font-editor
[submodule "sf-core"]
	path = sf-core
	url = https://github.com/studioflora/sf-core
