:root {
    --highlight: #eefefe;
    --sky: #7485a5;
    --highlight2: #dce7f2;
    --highlight3: #7194c6;
    --cloudText: rgb(23, 23, 24);
}

body {
    margin: 0;
    overflow: hidden;
}

/* UI overlay styles */

.button {
    display: flex;
    width: 1.25em;
    height: 1.25em;
    border-radius: 8px;
    border: var(--cloudText) solid 1.5px;
    position: fixed;
    top: 1em;
    right: 1em;
}

#fs {
    top: 3em;
}

.hide {
    display: none;
}

.button svg {
    fill: var(--cloudText);
    height: 0.75em;
    width: 0.75em;
    padding: 0.25em;
}

/* Cloud styles */

#artboard {
    background-color: rgb(128, 168, 220);
    /* position: absolute; */
    top: 0;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    font-size: 1.3vh;
    opacity: 0;
    z-index: 0;
}

/* used to fade in main */
#artboard.active {
    opacity: 1;
    transition: opacity 1000ms ease;
    transition-delay: 300ms;
}

.ls {
    position: absolute;
    left: -75em;
    width: calc(100% + 75em);
    height: 100%;
    background-position: bottom left;
    background-size: 75em;
    background-repeat: repeat-x;
    animation: scenery 90s linear infinite;
    bottom: 0;
    /* opacity: 0.2; */
}

.clouds, #birds {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* .shadow {
    filter: drop-shadow(0px 0px 1em #2e2c351f);
} */

#ls0 {
    background-image: url('../../lab/cloudmachine/assets/ls0.svg');
}

#ls1 {
    background-image: url('../../lab/cloudmachine/assets/ls1.svg');
}

#ls2 {
    background-image: url('../../lab/cloudmachine/assets/ls2.svg');
    animation-duration: 70s;
}

#ls3 {
    background-image: url('../../lab/cloudmachine/assets/ls3.svg');
    animation-duration: 60s;
}

#ls4 {
    background-image: url('../../lab/cloudmachine/assets/ls4.svg');
    animation-duration: 40s;
}

.clouds img {
    position: absolute;
    bottom: 17em;
    animation-name: jetstream;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: none;
}

.clouds .cloud-b {
    bottom: 18em;
}

.bird {
    position: absolute;
    animation-name: jetstream;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes jetstream {
    from {
        /* left: 0%;
        transform: translate(-100%); */
        transform: translateX(-100%);
    }
    to {
        /* left: 100%;
        transform: translate(0%); */
        transform: translateX(100vw);
    }
}

@keyframes scenery {
    from {
        transform: translateX(0em);
        /* left: -75em; */
    }
    to {
        transform: translateX(75em);
        /* left: 0em; */
    }
}

@media (hover: hover) {
    .button:hover  {
        background: var(--highlight);
    }
}