form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

form input, form textarea, form button {
    box-sizing: border-box;
    margin: 0.25em 0 0.75em;
    border-radius: var(--borderRad);
    height: 2em;
    border: var(--marginBot) solid var(--text);
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.5em;
    background: rgba(255, 255, 255, 0.5);
}

form button {
    padding: 0 2em;
    width: fit-content;
    margin-left: auto;
    background: var(--canvas);
}

form textarea {
    height: 8em;
    max-width: 100%;
    border-bottom-right-radius: 1.35em;
    min-height: 8em;
    min-width: 100%;
}

@media all and (max-width: 1024px) {  

    form textarea {
        border-bottom-right-radius: var(--borderRad);
    }
}