:root {
    /* Layout settings */
    font-size: 18px;
    --gap-line: 0.1rem;
    --gap-xs: 0.25em;
    --gap-s: 0.5em;
    --gap-m: 0.75em;
    --gap-l: 1em;
    --gap-xl: 1.5em;

    /* Animation settings */
    --speed: 180ms;
    --ease: ease var(--speed);
    --in-out: ease-in-out var(--speed);
    --in: ease-in var(--speed);
    --out: ease-out var(--speed);

    /* Color swatches */
    --dark-base-0: #0c1410;
    --dark-base-1: #113730;
    --dark-base-2: #044639;
    --dark-base-3: #045645;
    
   --light-base-0: #f5f8f6;
   --light-base-1: #abebdc;
   --light-base-2: #65d9be;
   --light-base-3: #71a69a;

   --light-red: #ff0055;
   --light-orange: #b37f48;
   --light-yellow: #eed600;
   --light-green: #00c63b;
   --light-blue: #6ca4ff;
   --light-purple: #e9a6ff;

   --dark-red: #a70000;
   --dark-orange: #7c4700;
   --dark-yellow: #b3b300;
   --dark-green: #0a321e;
   --dark-blue: #6993e1;
   --dark-purple: #d47fd7;

   --shadow: #03171427;
 
    --bg-0: light-dark(var(--light-base-0), var(--dark-base-0));
    --bg-1: light-dark(var(--light-base-1), var(--dark-base-1));
    --bg-2: light-dark(var(--light-base-2), var(--dark-base-2));
    --bg-3: light-dark(var(--light-base-3), var(--dark-base-3));

    --fg-0: light-dark(var(--dark-base-0), var(--light-base-2));
    --fg-1: light-dark(var(--dark-base-1), var(--light-base-1));
    --fg-2: light-dark(var(--dark-base-2), var(--light-base-2));
    --fg-3: light-dark(var(--dark-base-3), var(--light-base-3));
 
    --hl-0: light-dark(var(--dark-purple), var(--light-purple));
    --hl-1: light-dark(var(--dark-green), var(--light-green));

    --border-color: var(--bg-0);
    --border: var(--gap-line) solid var(--border-color);
}

.color-scheme-1 {
    --bg-0: light-dark(var(--light-base-1), var(--dark-base-1));
    --bg-1: light-dark(var(--light-base-2), var(--dark-base-2));
    --bg-2: light-dark(var(--light-base-3), var(--dark-base-3));
    --bg-3: light-dark(var(--light-base-2), var(--dark-base-2));
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100vw;
    overflow-x: hidden;
    background: var(--bg-0);
}

* {
    color: var(--fg-0);
}

.rounded {
    border-radius: var(--gap-l);
}

.dropshadow, .app {
    box-shadow: var(--gap-line) var(--gap-xs) var(--gap-l) var(--shadow);
}

.app {
    border-radius: 20%;
}

.outline {
    border: var(--border);
    border-color: var(--fg-0);
}

.light {
    color-scheme: light;
    background-color: var(--bg-0);
}

.dark {
    color-scheme: dark;
    background-color: var(--bg-0);
}

.bg-1 {
    background-color: var(--bg-1);
}

.bg-2 {
    background-color: var(--bg-2);
}

.bg-3 {
    background-color: var(--bg-3);
}

svg {
    fill: var(--fg-0);
    display: inline;
    align-self: center;
}

a {
    text-decoration: none;

    svg {
        height: 1em;
        width: 1em;
    }
}

p {
    line-height: 1.6em;
}

p, a {
    &.s {
        font-size: 0.75rem;
    }
}

.caps {
    text-transform: uppercase;
}

.outlined {
    border: var(--border);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25em;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.5rem;
}

i {
    font-style: italic;
}

.balanced {
    text-wrap: balance;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

svg {
    height: 1em;
    width: 1em;
}

button {
    padding-inline: 1em;
}

a, button, .link {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

button {
    height: 2.5em;
    /* margin-inline: -0.2em; */
    border-radius: var(--gap-xl);

    &.strong {
        color: var(--bg-0);
        background: var(--fg-0);

        svg {
            fill: var(--bg-0);
        }
    }

    &.outlined {
        border: var(--border);
        border-color: var(--bg-3);
    }

    &.selected {
        background: var(--bg-3);
    }
}


input {
    background-color: var(--bg-1);
    border: var(--border);
    border-radius: var(--gap-xs);
    padding-left: var(--gap-xs);
}

.flex {
    display: flex;
    align-items: center;

    &.spread {
        justify-content: space-between;
    }
    
    &.center {
        justify-content: center;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.center {
        align-items: center;
    }
}

.gap-line {
    gap: var(--gap-line);
}

.gap-xs {
    gap: var(--gap-xs);
}

.gap-s {
    gap: var(--gap-s);    
}

.gap-m {
    gap: var(--gap-m);    
}

.gap-l {
    gap: var(--gap-l);    
}

.gap-xl {
    gap: var(--gap-xl);    
}

.padding-xs {
    padding: var(--gap-xs);
}

.padding-s {
    padding: var(--gap-s);
}

.padding-m {
    padding:var(--gap-m);
}

.padding-l {
    padding: var(--gap-l);
}

.padding-xl {
    padding: var(--gap-xl);
}

@media (hover: hover) {
    a, button {
        transition: color var(--ease);

        svg {
            transition: fill var(--ease);
        }

        .dropshadow {
            transition: box-shadow var(--ease), transform var(--ease);
        }
    }

    a:hover {
        color: var(--hl-0);

        svg {
            fill: var(--hl-0);
        }

        .dropshadow, .app {
            box-shadow: 0 0 var(--gap-m) var(--gap-m) var(--hl-0);
            transform: translateY(-0.25rem);
        }
    }

    button:hover {
        background: var(--bg-3);
    }
}