@font-face {
    font-family: ao-01;
    src: url(/assets/custom-fonts/ao-01-Regular.woff2) format("woff2"),
         url(/assets/custom-fonts/ao-01-Regular.woff) format("woff");
}

.plantcard {
    background: #f8f8f8;
    font-family: 'ao-01', sans-serif;
    aspect-ratio: 5/6;
    /* padding: 3cqw; */
    container-type: size;
}

.plantcard .viewport {
    width: 94cqw;
    margin: 3cqw auto;

    aspect-ratio: 1;
    position: relative;
}

.plantcard h5 {
    font-size: 6.5cqw;
    margin: 1em 0.7em 0;
}