#banner {
    font-size: .9em;
    height: 0em;
    background: var(--accent1);
    border-radius: var(--borderRad);
    margin-bottom: var(--marginBot);
    display: flex;
    overflow: hidden;
    z-index: 2;
    transition: height 250ms ease;
    transition-delay: 200ms;
}

#banner.active {
    height: 2em;
}

#banner a {
    line-height: 2em;
    padding: 0 1.5em;
    font-style: italic;
    color: #f7fbfc;
    font-weight: 400;
    top: 0;
    flex-shrink: 0;
    animation: banner 15s forwards linear infinite;
}

@keyframes banner {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@media (hover: hover) {
    #banner:hover {
        background: var(--accent2);
    }
}