#cloudstack {
    position: relative;
}

#cloudstack .button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

#timer img {
    border-radius: 15px;
    width: 300px;
}

#timer {
    text-align: center;
}