/* Home header styles */
#home-header {
    margin: 4vh auto 0;
    font-size: 8vw;
}

#home-header h3 {
    font-size: 1.5rem;
    margin: 1em 0;
}

#home-header h2 {
    font-weight: 500;
    font-style: italic;
}

#home-header h1 {
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
    margin: 0;
}

.grid.stagger article {
    margin: 0;
    grid-column: 1 / span 6;
}

.grid.stagger article:nth-of-type(even) {
    grid-column-start: 7;
    transform: translateY(30%);
}

#add-space {
    margin-bottom: 160px;
}

main section article:last-of-type {
    margin-bottom: 2rem;
}

@media all and (max-width: 1024px) {

    #home-header {
        margin: 7vh auto 15vh;
        font-size: 10vw;
    }
}

@media all and (max-width: 780px) {
    
    #add-space {
        margin-bottom: 0;
    }

    #home-header {
        margin: 0 auto;
        font-size: 15vw;
    }

    #home-header h3 {
        margin: 0.5em auto 0;
        text-wrap: wrap;
    }

    .grid.stagger article:nth-of-type(even) {
        transform: none;
    }
}